services:
  frontend:
    container_name: podcast-frontend
    hostname: podcast-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    ports:
      - "5173:5173"
    environment:
      NODE_ENV: development
      VITE_BACKEND_URL: http://localhost:8787/
      GOOGLE_CLIENT_ID: 1029882593349-scdm3ue251op8f8sm9fv69bv3kjeeffk.apps.googleusercontent.com
      GOOGLE_CLIENT_SECRET: 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
      GOOGLE_REDIRECT_URI: http://localhost:8787/auth/callback
    stdin_open: true
    tty: true
    command: npm run dev
  backend:
    container_name: podcast-backend
    hostname: podcast-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    ports:
      - "8787:8787"
    environment:
      NODE_ENV: development
    stdin_open: true
    tty: true
    command: npm run dev